# This is Git's per-user configuration file.
[user]
	name = Paul Andrei Taranu
	email = paulandreitaranu@gmail.com
[credential]
    helper = cache --timeout=7890000
[core]
	editor = nvim
[init]
    defaultBranch = main
